.comment-item__list{
    height: 100%;
    box-sizing: border-box;
    padding: 30px 20px 15px 25px;
    background: #2c3e50;
    color: #ecf0f1;
    font-weight: 700;
    box-shadow: 0 0 2px 1px rgba(0,0,0,0.2);
    border-radius: 3px 3px 0 0;
    border: none;
    margin: 10px 0;
    ;
}


.comment-item__list time {

    color: #666666;
    box-sizing: border-box;
    font-weight: 600;
}


.comment-item__list h4 {
    color: #ffffff;
    box-sizing: border-box;
    font-weight: 900;
    font-size: 1.5rem;
    background: #647380;
}

.comment-item__list h5 {
    color: #ffffff;
    box-sizing: border-box;
    font-weight: 600;
    font-size: 1rem;

}

.comment-control-container {

    width:100%;
    display: inline-block;
    align-items: flex-start;

}

.comment-form {
    width: 100%;
    padding: 20px;
    background-color: #e6e6e6;
    overflow: hidden;
}

.comment-box span {
    margin-right: 10px;
    color:dimgray;
}

.comment-edit-button Button{
    margin: 20px 10px 2px 0;

}

.jumbotron-container {
    width: 95%;
    margin-top: 50px;
    overflow: hidden;
}
